@model List<NegociacaoMerca.Entidades.Mercadoria>
<table class="table table-hover">
    <thead>
        <tr>

            <th>Código da Mercadoria</th>
            <th>Tipo de Mercadoria</th>
            <th>Nome da Mercadoria</th>
            <th>Quantidade</th>
            <th>Preco</th>
            <th>Tipo de Negociacao</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var u in Model)
        {
            <tr>
                <td>@u.CodMercadoria</td>
                <td>@u.TipoMercadoria</td>
                <td>@u.NomeMercadoria</td>
                <td>@u.Quantidade</td>
                <td>@u.Preco</td>
                <td>@u.TipoNegociacao</td>
                <td><button class="btn btn-danger" onclick="Excluir(@u.Id);"> Excluir </button></td>
                <td><button class="btn btn-success" onclick="window.location.href = '@Url.Action("Editar", "Mercadoria", new { id = u.Id })';"> Editar </button></td>

            </tr>
        }
    </tbody>
</table>


